/* line 4, ../sass/components/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* line 9, ../sass/components/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 14, ../sass/layout.sass */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
/* line 20, ../sass/components/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 21, ../sass/layout.sass */
.no-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 21, ../sass/layout.sass */
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 100%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  /* line 21, ../sass/layout.sass */
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
/* line 31, ../sass/layout.sass */
.one-sidebar.sidebar-second #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 31, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  /* line 31, ../sass/layout.sass */
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
/* line 41, ../sass/layout.sass */
.one-sidebar.sidebar-first #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 41, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
    margin-left: 25.80645%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  /* line 41, ../sass/layout.sass */
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-left: 25.53191%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
/* line 53, ../sass/layout.sass */
.two-sidebars #content {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 53, ../sass/layout.sass */
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
    margin-left: 25.80645%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  /* line 53, ../sass/layout.sass */
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 40.42553%;
    margin-left: 25.53191%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

/* line 65, ../sass/layout.sass */
#sidebar-first {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 65, ../sass/layout.sass */
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: -77.41935%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 73, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: -103.22581%;
  }
}
@media screen and (min-width: 60em) {
  /* line 65, ../sass/layout.sass */
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: -68.08511%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-first:last-child {
    margin-right: 0;
  }
  /* line 80, ../sass/layout.sass */
  .sidebar-first #sidebar-first {
    margin-left: -102.12766%;
  }
}

/* line 83, ../sass/layout.sass */
#sidebar-second {
  width: 100%;
}
@media screen and (min-width: 45em) {
  /* line 83, ../sass/layout.sass */
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    margin-left: 0%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  /* line 83, ../sass/layout.sass */
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-left: 0%;
  }
  /* line 89, ../sass/components/neat/grid/_span-columns.scss */
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

/* line 95, ../sass/layout.sass */
#footer {
  float: none;
  clear: both;
}

/* line 100, ../sass/layout.sass */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 111, ../sass/layout.sass */
.inner {
  padding: 0;
}

/* line 116, ../sass/layout.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*
 * Annual Report Custom Classes - Austrade
 */
/* Custom fonts */
@font-face {
  font-family: 'unlimited_pro_mediumregular';
  src: url("../fonts/unlimited_pro-medium-webfont.eot");
  src: url("../fonts/unlimited_pro-medium-webfont.eot#eot") format("embedded-opentype"), url("../fonts/unlimited_pro-medium-webfont.ttf") format("truetype"), url("fonts/unlimited_pro-medium-webfont.svg.html#unlimited_pro_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'unlimited_pro_regularregular';
  src: url("../fonts/unlimited_pro-regular-webfont.eot");
  src: url("../fonts/unlimited_pro-regular-webfont.eot#eot") format("embedded-opentype"), url("../fonts/unlimited_pro-regular-webfont.ttf") format("truetype"), url("fonts/unlimited_pro-regular-webfont.svg.html#unlimited_pro_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'unlimited_pro_lightregular';
  src: url("../fonts/unlimited_pro-light-webfont.eot");
  src: url("../fonts/unlimited_pro-light-webfont.eot#eot") format("embedded-opentype"), url("../fonts/unlimited_pro-light-webfont.ttf") format("truetype"), url("fonts/unlimited_pro-light-webfont.svg.html#unlimited_pro_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 37, ../sass/_custom.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #57585b;
  background: #fff;
  line-height: 1.6;
  margin: 0;
}

/* line 45, ../sass/_custom.scss */
h1 {
  color: #3D3935;
  font-size: 2.5em;
  line-height: 1.25em;
  font-family: "unlimited_pro_lightregular", Arial, Helvetica, sans-serif;
}

h1.title span {
  color: #E35205;
}

/* line 51, ../sass/_custom.scss */
h2 {
  font-size: 1.9em;
  line-height: 1.25em;
  color: #E35205;
  font-family: "unlimited_pro_mediumregular", Arial, Helvetica, sans-serif;
  margin: 1em 0 0.5em;
}

/* line 58, ../sass/_custom.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  color: #3D3935;
  font-family: "unlimited_pro_mediumregular", sans-serif;
  margin: 1em 0 0.5em;
}

/* line 65, ../sass/_custom.scss */
h3._-Level-3-Heading-CEO {
  color: #353639;
}

/* line 68, ../sass/_custom.scss */
h4 {
  font-size: 1.2em;
  color: #3D3935;
  font-family: "Unlimited Sans Medium", sans-serif;
}

/* line 73, ../sass/_custom.scss */
h5 {
  font-weight: bold;
  font-style: italic;
  color: #3D3935;
  font-family: "Unlimited Sans Medium", sans-serif;
}

/* line 79, ../sass/_custom.scss */
.lot-date {
  margin: 1.5em 0 2em;
}

/* cover page */
/* line 84, ../sass/_custom.scss */
.page-index .field-type-image img {
  width: 360px;
  border: 1px solid #9aa9ac;
}

/* line 90, ../sass/_custom.scss */
#sidebar-first img {
  max-width: 66%;
  display: block;
  border: #9aa9ac 1px solid;
  margin-bottom: 1em;
}

/* line 97, ../sass/_custom.scss */
.austrade-purpose {
  font-weight: bold;
  font-size: 1.2em;
  color: #3D3935;
}
/* line 101, ../sass/_custom.scss */
.austrade-purpose span {
  font-weight: normal;
}
/* line 104, ../sass/_custom.scss */
.austrade-purpose em {
  font-style: normal;
  margin: 0 10px;
  border: 1px solid #3D3935;
  border-radius: 17px;
  padding: 4px 11px;
  width: 34px;
  display: inline-block;
  height: 34px;
}
/* line 114, ../sass/_custom.scss */
.austrade-purpose li {
  background: none !important;
  padding-left: 0px !important;
  border-top: 1px solid #3D3935;
  padding-top: 10px;
}
/* line 120, ../sass/_custom.scss */
.austrade-purpose li:nth-child(1) {
  border-top: none;
}

/* line 124, ../sass/_custom.scss */
.hl-item {
  float: left;
  border-top: solid 1px #A7A8AA;
  width: 100%;
  float: left;
  padding: 0 0 0.5em;
  margin-bottom: 0.5em;
}
/* line 125, ../sass/_custom.scss */
.hl-item .heading-hl {
  color: #57585b;
  font-size: 1.4em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}
/* line 137, ../sass/_custom.scss */
.hl-item:nth-child(1) {
  border-top: none;
}

/* line 141, ../sass/_custom.scss */
#sidebar-first {
  margin-top: 1em;
}

/* line 144, ../sass/_custom.scss */
.lead {
  display: inline;
}

/* line 147, ../sass/_custom.scss */
.key-line {
  border-top: 1px solid #A7A8AA;
  height: 1px;
}

/* line 151, ../sass/_custom.scss */
.outlook {
  border-bottom: 1px solid #A7A8AA;
  padding-bottom: 0.5em;
}

/* line 155, ../sass/_custom.scss */
.lead.icon img {
  width: 36px;
  height: 36px;
  vertical-align: text-top;
  margin-top: 0.25em;
  margin-right: 8px;
  margin-bottom: 2px;
  float: left;
}

/* line 164, ../sass/_custom.scss */
.lead.text {
  font-size: 2.4em;
  font-weight: bold;
  vertical-align: text-top;
  color: #57585B;
  margin-right: 8px;
  margin-bottom: 2px;
  float: left;
  margin-top: -0.25em;
}

/* line 174, ../sass/_custom.scss */
.text-primary-yellow {
  color: #E35205;
  font-size: 1.4em;
  font-family: "unlimited_pro_mediumregular", sans-serif;
  font-style: normal;
  font-weight: 600;
}

/* line 181, ../sass/_custom.scss */
.text-highlight {
  color: #E35205;
  font-size: 1.8em;
  font-family: "unlimited_pro_mediumregular", sans-serif;
  font-style: normal;
  font-weight: 600;
}
/* line 187, ../sass/_custom.scss */
.text-highlight .small {
  font-size: 16px;
  border-top: 1px solid #E35205;
  border-bottom: 1px solid #E35205;
}

/* line 193, ../sass/_custom.scss */
.dividing-line {
  border-bottom: 1px solid #a7a8aa;
  height: 1px;
}

/* line 197, ../sass/_custom.scss */
.purpose-achievements {
  font-size: 1.4em;
  margin-bottom: 0.25em;
}

/* line 201, ../sass/_custom.scss */
.hl-item-list {
  margin-top: 1em;
  display: table;
}
/* line 204, ../sass/_custom.scss */
.hl-item-list .hl-item {
  margin: 1em 0;
  width: 33%;
  display: table-cell;
  padding: 1em;
  border-top: none;
  float: none;
}
/* line 212, ../sass/_custom.scss */
.hl-item-list .row.bottom-border {
  border-bottom: 1px solid #a7a8aa;
}
/* line 215, ../sass/_custom.scss */
.hl-item-list .hl-item:nth-child(1), .hl-item-list .hl-item:nth-child(2) {
  border-right: 1px solid #a7a8aa;
}

/* line 221, ../sass/_custom.scss */
#header .header-wrapper .pre-header {
  height: 120px;
  text-align: right;
  max-width: 1088px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
	#header .header-wrapper .pre-header {
	  height: 120px;
	  text-align: center;
	  width: auto;	
	}
}
/* line 225, ../sass/_custom.scss */
#header .header-wrapper .pre-header .logo {
  margin: auto;
  clear: both;
  padding-top: 1.1em;
  padding-bottom: 1em;
  width: 420px;
  height: auto;
}
/* line 232, ../sass/_custom.scss */
#header .header-wrapper .header {
  height: 150px;
  background: #57585b;
  text-align: center;
}
/* line 237, ../sass/_custom.scss */
#header .header-wrapper .header .header-inner {
  max-width: 1088px;
  background: #57585b url("../images/header-bg.png") no-repeat;
  background-position: 100% 0;
  background-size: contain;
  height: 100%;
  margin: auto;
  clear: both;
  text-align: left;
}
/* line 242, ../sass/_custom.scss */
#header .header-wrapper .header .header-inner .site-name {
  font-family: "unlimited_pro_lightregular", Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 1.25em;
  text-transform: uppercase;
  display: block;
  color: #FFAB00;
  padding-top: 40px;
}
/* line 250, ../sass/_custom.scss */
#header .header-wrapper .header .header-inner .site-name span {
  color: #fff;
  display: block;
}

@media screen and (max-width: 480px) {
  /* line 263, ../sass/_custom.scss */
  #header .header-wrapper .pre-header {
    height: 85px;
  }
  /* line 265, ../sass/_custom.scss */
  #header .header-wrapper .pre-header .logo {
    height: 85px;
    width: auto;
  }
  /* line 270, ../sass/_custom.scss */
  #header .header-wrapper .header {
    height: 120px;
  }
  /* line 272, ../sass/_custom.scss */
  #header .header-wrapper .header .header-inner {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    display: block;
    color: #FFAB00;
  }
  /* line 278, ../sass/_custom.scss */
  #header .header-wrapper .header .header-inner .site-name {
    line-height: 1em;
    padding-top: 0;
    padding-top: 20px;
  }

  /* line 288, ../sass/_custom.scss */
  #main .container {
    padding: 0 10px;
  }
}
/* line 293, ../sass/_custom.scss */
.container {
  max-width: 1088px;
}

/* line 296, ../sass/_custom.scss */
#sidebar-first .block-block {
  padding: 7px;
  margin-top: 2em;
  margin-right: 0.5em;
  border: 1px solid #9aa9ac;
  font-size: 0.85em;
}

/* line 303, ../sass/_custom.scss */
.book-navigation .only-next-link {
  width: 100% !important;
}
/* line 306, ../sass/_custom.scss */
.book-navigation .only-next-link .book-button-holder .book-button-icon {
  margin-left: 0.5em;
}

/* line 311, ../sass/_custom.scss */
img {
  max-width: 720px;
  height: auto;
}

/* line 315, ../sass/_custom.scss */
img#lightboxImage {
  max-width: 10000px;
}

@media only screen and (max-width: 640px) {
  /* line 319, ../sass/_custom.scss */
  img {
    max-width: 360px;
    height: auto;
  }
}
/* line 324, ../sass/_custom.scss */
img.sig {
  width: 240px;
}

/* line 327, ../sass/_custom.scss */
.pic-ceo img {
  float: left;
  margin-right: 1em;
  border-top: 1em solid #48a2de;
  margin-top: 0.5em;
}

/* line 333, ../sass/_custom.scss */
#table010 th:nth-child(1) {
  width: 40%;
}

/* line 336, ../sass/_custom.scss */
#table018 img {
  width: 8px;
  height: auto;
}

/* line 341, ../sass/_custom.scss */
#table035 th, #table035 td, #table036 th, #table036 td {
  text-align: center;
}

/* line 345, ../sass/_custom.scss */
strong {
  font-weight: 600;
}

/* line 348, ../sass/_custom.scss */
.border-top {
  border-top: 1px solid #555;
}

/* line 351, ../sass/_custom.scss */
.border-bottom {
  border-bottom: 1px solid #555;
}

/* line 354, ../sass/_custom.scss */
p {
  margin: 0.5em 0 1em;
}

/* line 357, ../sass/_custom.scss */
.key-achievements {
  font-weight: bold;
  text-align: center;
}

/* line 361, ../sass/_custom.scss */
html a {
  color: #1D779F;
  text-decoration: none;
}

/* line 365, ../sass/_custom.scss */
html a:hover {
  text-decoration: underline;
}

/* line 368, ../sass/_custom.scss */
table {
  min-width: 50%;
}

/* line 371, ../sass/_custom.scss */
tr {
  border-bottom: 1px solid #9aa9ac;
}

/* line 374, ../sass/_custom.scss */
.report-heading {
  font-size: 2.4em;
  line-height: 1em;
  font-weight: 200;
}

/* line 379, ../sass/_custom.scss */
.sub-heading {
  font-weight: 200;
}

/* line 382, ../sass/_custom.scss */
.breadcrumb {
  margin-top: 1em;
  color: #57585b;
}

/* line 386, ../sass/_custom.scss */
.breadcrumb a {
  text-decoration: none;
  color: #57585b;
  font-weight: 600;
}

/* line 391, ../sass/_custom.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* CSS Document */
/* line 403, ../sass/_custom.scss */
ul {
  list-style: square;
  padding-left: 1.3em;
}

/* line 407, ../sass/_custom.scss */
.figure-caption {
  font-weight: bold;
}

/* line 410, ../sass/_custom.scss */
.align-right {
  text-align: right;
}

/* line 413, ../sass/_custom.scss */
.note {
  font-size: 0.85em;
}

/* Table stuff */
/* line 418, ../sass/_custom.scss */
table.table-history th {
  min-width: 100px;
  color: #E35205;
  vertical-align: middle;
  text-align: right;
  font-size: 1.2em;
}

table.table-history tr:not(first-of-type) {
  border-bottom: 1px solid #E35205;
}

/* line 431, ../sass/_custom.scss */
table.table-history tr:first-child tr, table.table-history tr:first-child td {
  border-top: none;
}

/* line 437, ../sass/_custom.scss */
table.shade-alt tbody tr:nth-child(odd) {
  background: #dedede;
}

/* line 442, ../sass/_custom.scss */
table.key-events tbody {
  border-top: none;
}

/* line 446, ../sass/_custom.scss */
.cell-subhead {
  background-color: #D1D2D4;
}

/* line 449, ../sass/_custom.scss */
.cell-header, ._-Cell---Header-1 {
  background: #57585B;
  font-weight: bold;
}

/* line 453, ../sass/_custom.scss */
table tr.total {
  border-top: #555 solid 1px;
  border-bottom: #555 solid 1px;
  background: none !important;
}

/* line 458, ../sass/_custom.scss */
table.no-alt-shading tr:nth-child(odd) {
  background: none;
}

/* line 461, ../sass/_custom.scss */
table.key-events td:first-of-type {
  border-right: 1px solid #555;
}

/* line 464, ../sass/_custom.scss */
.table-stats {
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 468, ../sass/_custom.scss */
.table-stats tr {
  border-bottom: none;
}

/* line 472, ../sass/_custom.scss */
.table-stats td {
  width: 25%;
  padding: 0 1em;
  vertical-align: top;
}

/* line 477, ../sass/_custom.scss */
.table-stats.five-cols td {
  width: 20% !important;
}

/* line 480, ../sass/_custom.scss */
.table-stats.five-cols.no-border td {
  text-align: left;
  border-right: none !important;
}
/* line 483, ../sass/_custom.scss */
.table-stats.five-cols.no-border td .text-highlight {
  font-size: 1.1em !important;
}

/* line 487, ../sass/_custom.scss */
.table-stats td:nth-child(1),
.table-stats td:nth-child(2),
.table-stats td:nth-child(3) {
  border-right: solid 1px #9aa9ac;
}

/* line 492, ../sass/_custom.scss */
#table032 td:nth-child(4) {
  border-right: solid 1px #9aa9ac;
}

/* line 495, ../sass/_custom.scss */
.top-bordered {
  border-top: 1px solid #555;
}

/* line 498, ../sass/_custom.scss */
p.figure-name {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* line 502, ../sass/_custom.scss */
.shade, .shade-light, .shade-lighter {
  color: #fff;
}

/* line 505, ../sass/_custom.scss */
.cell-subhead {
  background-color: #D1D2D4;
}

table {
  min-width: 75%;
}

/* line 508, ../sass/_custom.scss */
td {
  vertical-align: top;
  padding: 0.25em 0.5em;
}

/* line 512, ../sass/_custom.scss */
th {
  vertical-align: top;
  padding: 0.5em 0.5em;
  border-bottom: none;
}

/* line 517, ../sass/_custom.scss */
tbody {
  border: none;
}

/* line 520, ../sass/_custom.scss */
th {
  text-align: left;
}

/* line 523, ../sass/_custom.scss */
td p:first-of-type {
  margin-top: 0;
}

/* line 526, ../sass/_custom.scss */
td p:last-of-type {
  margin-bottom: 0;
}

/* line 529, ../sass/_custom.scss */
.cell-bordered td, .cell-bordered {
  border-bottom: 1px solid #555;
  border-collapse: collapse;
}

/* line 533, ../sass/_custom.scss */
.cell-black {
  background: #000 !important;
  color: #fff;
}

/* line 537, ../sass/_custom.scss */
.cell-grey, .cell-grey td {
  background: #e7e7e7;
}

/* line 540, ../sass/_custom.scss */
.cell-no-shade {
  background: none !important;
}

/* line 543, ../sass/_custom.scss */
.cell-light-grey, .cell-lighter-grey td {
  background: #f3f3f3;
}

/* line 546, ../sass/_custom.scss */
.cell-total td {
  font-weight: bold;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

/* line 551, ../sass/_custom.scss */
.note {
  font-size: 0.85em;
}

/* line 554, ../sass/_custom.scss */
.photo-inline {
  display: inline;
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

/* line 560, ../sass/_custom.scss */
.centered {
  text-align: center;
}

/* line 563, ../sass/_custom.scss */
h3.slim {
  font-family: "unlimited_pro_lightregular", Arial, Helvetica, sans-serif;
  border-top: 1px solid #BEBFC1;
  background: #F1F1EA;
  padding: 1em 1.5em;
  margin-bottom: -2em;
}
/* line 565, ../sass/_custom.scss */
h3.slim strong {
  font-family: "unlimited_pro_mediumregular", Arial, Helvetica, sans-serif;
}

.staff-profile {
  border-bottom: 2px solid #BEBFC1;
  padding: 1em 1em;
  margin-top: 3em;
  margin-bottom: 2em;
}

/* line 572, ../sass/_custom.scss */
.case-study-alt {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: #E35205 1px solid;
  border-bottom: #E35205 1px solid;
}
/* line 577, ../sass/_custom.scss */
.case-study-alt h3 {
  font-family: "unlimited_pro_lightregular", Arial, Helvetica, sans-serif;
}
/* line 579, ../sass/_custom.scss */
.case-study-alt h3 strong {
  color: #E35205;
  font-family: "unlimited_pro_mediumregular", Arial, Helvetica, sans-serif;
}

/* line 585, ../sass/_custom.scss */
.case-study {
  background: #F1F1EA;
  padding: 1em 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 590, ../sass/_custom.scss */
.case-study h3 {
  color: #E35205;
  font-family: "unlimited_pro_lightregular", Arial, Helvetica, sans-serif;
  margin-top: 0;
}
/* line 594, ../sass/_custom.scss */
.case-study h3 strong {
  font-family: "unlimited_pro_mediumregular", Arial, Helvetica, sans-serif;
}

/* line 600, ../sass/_custom.scss */
.section-footnotes .footnote-text {
  font-size: 0.8em;
}
/* line 603, ../sass/_custom.scss */
.section-footnotes .footnote-text:nth-child(1):before {
  content: "";
  border-top: #A7A8AA 1px solid;
  width: 200px;
  display: block;
  margin-top: 2em;
  padding-bottom: 0.5em;
}

/* line 615, ../sass/_custom.scss */
.cert {
  border: 1px solid #faa634;
  border-top: 30px solid #faa634;
  padding: 0 1em;
}

/* line 620, ../sass/_custom.scss */
.cert .heading {
  font-size: 1.4em;
  font-weight: bold;
}

/* line 624, ../sass/_custom.scss */
.right {
  text-align: right;
}

/* line 627, ../sass/_custom.scss */
.sr-only {
  display: none;
}

/* line 632, ../sass/_custom.scss */
.book-navigation .page-links {
  border-top: none;
  border-bottom: none;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
  display: table;
  width: 100%;
}

/* line 642, ../sass/_custom.scss */
.book-navigation .page-links .book-nav-link {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  float: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

/* line 653, ../sass/_custom.scss */
.book-navigation .page-previous {
  background: #C3C6A8 url("../images/book-nav-prev.png") 5px 50% no-repeat;
  color: #57585b;
  padding-left: 30px;
  padding-right: 10px;
  width: 45%;
}

/* line 660, ../sass/_custom.scss */
.book-navigation .page-previous:hover {
  background: #DFD1A7 url("../images/book-nav-prev.png") 5px 50% no-repeat;
}

/* line 663, ../sass/_custom.scss */
.book-navigation .page-up {
  background: #C3C6A8 url("../images/book-nav-up.png") 90% 50% no-repeat;
  color: #57585b;
  padding-left: 10px;
  padding-right: 50px;
  margin: 0 3%;
  width: 10%;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

/* line 673, ../sass/_custom.scss */
.book-navigation .page-up:hover {
  background: #DFD1A7 url("../images/book-nav-up.png") 90% 50% no-repeat;
}

/* line 676, ../sass/_custom.scss */
.book-navigation .page-next {
  background: #C3C6A8 url("../images/book-nav-next.png") 98% 50% no-repeat;
  color: #57585b;
  padding-left: 10px;
  padding-right: 32px;
  width: 45%;
}

/* line 683, ../sass/_custom.scss */
.book-navigation .page-next:hover {
  background: #DFD1A7 url("../images/book-nav-next.png") 98% 50% no-repeat;
}

/* line 686, ../sass/_custom.scss */
.book-block-menu ul {
  list-style: none;
}

/* line 689, ../sass/_custom.scss */
.book-block-menu > ul {
  padding-left: 0;
}

/* line 692, ../sass/_custom.scss */
.book-block-menu > ul > li > a {
  display: none;
}

/* line 695, ../sass/_custom.scss */
.book-block-menu > ul > li > ul > li > a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  font-size: 1.1em;
}

/* line 702, ../sass/_custom.scss */
.book-block-menu a:hover {
  text-decoration: underline;
}

/* line 705, ../sass/_custom.scss */
.book-block-menu a {
  color: #fff;
  text-decoration: none;
}

/* line 709, ../sass/_custom.scss */
.book-block-menu li > ul > li > a {
  padding: 0.25em 1em 0.25em 2em;
  border-top: 1px solid #fff;
  display: block;
}

/* line 714, ../sass/_custom.scss */
#content-area .book-navigation ul {
  list-style: none;
  clear: left;
  padding-left: 0 !important;
}
/* line 718, ../sass/_custom.scss */
#content-area .book-navigation ul li {
  padding-left: 0 !important;
}

/* Footer */
/* line 723, ../sass/_custom.scss */
#footer {
  margin: 0 auto;
  padding: 20px 0;
  line-height: 20px;
  background-color: #ebebeb;
  margin-top: 5em;
}

/* line 730, ../sass/_custom.scss */
#footer .footer-inner .footer-left {
  float: left;
}

/* line 733, ../sass/_custom.scss */
#footer .footer-inner .footer-right {
  float: right;
}

/* line 736, ../sass/_custom.scss */
#footer a {
  color: #57585b;
}

/* Table of contents stuff - sidebar */
/* line 740, ../sass/_custom.scss */
ul.menu {
  list-style: none;
  padding-left: 0;
  font-size: 0.9em;
}

/* line 745, ../sass/_custom.scss */
ul.menu li {
  list-style: none;
  margin: 0;
}

/* line 749, ../sass/_custom.scss */
ul.menu > li {
  font-weight: bold;
}

/* line 752, ../sass/_custom.scss */
ul.menu > li > ul > li {
  font-weight: normal;
}

/* line 755, ../sass/_custom.scss */
ul.menu > li.expanded > ul {
  display: none;
}

/* line 758, ../sass/_custom.scss */
ul.menu > li.expanded > ul > li.expanded > ul {
  display: block;
}

/* line 761, ../sass/_custom.scss */
#sidebar-first > .block > ul.menu > li.expanded.active-child > a,
#sidebar-first > .block > ul.menu > li.expanded > a.active {
  color: #fff;
  background-color: #E35205;
}

/* line 766, ../sass/_custom.scss */
#sidebar-first > .block > ul.menu > li.expanded > ul > li.expanded.active-child > a {
  border-left: 2px solid #E35205;
  background: none;
  color: #3D3935;
}

/* line 771, ../sass/_custom.scss */
ul.menu > li > a {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  margin: 0 0 5px;
  background: #57585b;
  font-family: unlimited_pro_mediumregular, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  -webkit-transition: background-color .2s;
}
/* line 774, ../sass/_custom.scss */
ul.menu > li > a span {
  color: #E35205;
}
/* line 785, ../sass/_custom.scss */
ul.menu > li > a:hover {
  background: #A7A8AA;
  color: #57585b;
}

/* line 790, ../sass/_custom.scss */
ul.menu > li > ul > li > a {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.3em;
  border-left: 2px solid #fff;
  border-radius: 0;
  padding-left: 5px;
  color: #57585b;
}

/* line 800, ../sass/_custom.scss */
ul.menu > li > ul > li > a:hover {
  border-left: 2px solid #E35205;
  background: none;
}

/* line 804, ../sass/_custom.scss */
ul.menu > li > ul > li > a.active {
  font-weight: bold;
  color: #3D3935;
  border-left: 2px solid #E35205;
}

/* line 809, ../sass/_custom.scss */
ul.menu > li > ul > li > ul > li a {
  padding-left: 15px;
}

/* line 812, ../sass/_custom.scss */
.side-meta {
  background: #ececec;
  padding: 5px 15px 5px;
  word-wrap: break-word;
  margin-top: 2em;
}

/* line 818, ../sass/_custom.scss */
.home-toc {
  list-style: none;
  padding-left: 0;
}

/* line 822, ../sass/_custom.scss */
.home-toc > li {
  margin-bottom: 1em;
}

/* line 825, ../sass/_custom.scss */
.home-toc > li > ul {
  list-style-image: url("../images/bullet.png");
}

/* line 828, ../sass/_custom.scss */
#content-area ul {
  padding-left: 1px;
}
/* line 830, ../sass/_custom.scss */
#content-area ul li {
  list-style-type: none;
  background: url("../images/arrow-orange.png") no-repeat 3px 8px;
  margin: .6em 0;
  padding-left: 1em;
}

/* line 837, ../sass/_custom.scss */
a.see-page {
  border-radius: 3px;
  padding: 5px 10px;
  background: #e5e6e6 url("../images/arrow-orange.png") no-repeat 95% center;
  padding-right: 15px;
  margin-bottom: 1em;
  display: inline-block;
  color: #3D3935;
}
/* line 845, ../sass/_custom.scss */
a.see-page:hover {
  text-decoration: none;
  background-color: #3D3935;
  color: #fff;
}

/* line 851, ../sass/_custom.scss */
#content-area .book-navigation ul li {
  background: none;
}

/* line 854, ../sass/_custom.scss */
.abbr {
  width: 7em;
  float: left;
}

/* line 858, ../sass/_custom.scss */
.abbr-def {
  margin-left: 7em;
}

/* line 861, ../sass/_custom.scss */
.abbr-def:after {
  content: " ";
  display: block;
}

/* line 865, ../sass/_custom.scss */
.index-indent {
  padding-left: 1em;
}

/* line 868, ../sass/_custom.scss */
.Figure-number {
  margin-bottom: 2em;
}

/* line 871, ../sass/_custom.scss */
._cell-force-grey {
  background: #f3f3f3 !important;
}

/* line 874, ../sass/_custom.scss */
._cell-force-white {
  background: #fff !important;
}

/* line 877, ../sass/_custom.scss */
ol {
  margin-left: 1em;
}

/* line 880, ../sass/_custom.scss */
p.port-photo {
  float: left;
  margin-right: 1em;
  margin-bottom: 0;
}

/* line 885, ../sass/_custom.scss */
#table043 ._blue_head {
  background: #dfedf8;
  font-weight: bold;
}

/* line 889, ../sass/_custom.scss */
.float-right {
  float: right;
}

/* line 892, ../sass/_custom.scss */
.row {
  float: left;
}
@media only screen and (min-width: 769px) {
  /* line 895, ../sass/_custom.scss */
  .row .column-left, .row .column-right {
    width: 50%;
    float: left;
  }
}
.spacer {
	margin-bottom: 2em;
}
/* Back to top button */
/* line 902, ../sass/_custom.scss */
#back-to-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 72px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  color: #fff;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  background: #3D3935 url("../images/back-to-top.png") 4px 50% no-repeat;
  padding: 5px 5px 5px 25px;
  border: none;
}
/* line 913, ../sass/_custom.scss */
#back-to-top:hover {
  background-color: #3D3935;
}

/* line 917, ../sass/_custom.scss */
td img.performance-gauge {
  width: 124px;
  height: auto;
  display: block;
  margin: 0;
}

/* Classes from InDesign */
/* line 923, ../sass/_custom.scss */
p._-table-header-text {
  color: #fff;
  line-height: 1.25em;
  padding: 0;
  margin: 0;
}

/* line 929, ../sass/_custom.scss */
p._-table-subhead {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* line 934, ../sass/_custom.scss */
td._idGenCellOverride-1 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 941, ../sass/_custom.scss */
td._idGenCellOverride-2 {
  border-right-color: #9baaac;
  border-right-style: solid;
  border-right-width: 1px;
}

/* line 946, ../sass/_custom.scss */
td._idGenCellOverride-3 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 1px;
}

/* line 954, ../sass/_custom.scss */
td._idGenCellOverride-4 {
  border-right-color: #9baaac;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 962, ../sass/_custom.scss */
td._idGenCellOverride-5 {
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 967, ../sass/_custom.scss */
td._idGenCellOverride-6 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 1px;
}

/* line 975, ../sass/_custom.scss */
td._idGenCellOverride-7 {
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 979, ../sass/_custom.scss */
td._idGenCellOverride-8 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/* line 984, ../sass/_custom.scss */
td._idGenCellOverride-9 {
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 0px;
}

/* line 989, ../sass/_custom.scss */
td._idGenCellOverride-10 {
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

/* line 993, ../sass/_custom.scss */
td._idGenCellOverride-11 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 1000, ../sass/_custom.scss */
td._idGenCellOverride-12 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 0px;
}

/* line 1005, ../sass/_custom.scss */
td._idGenCellOverride-13 {
  border-bottom-color: #9baaac;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 1013, ../sass/_custom.scss */
td._idGenCellOverride-14 {
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-top-style: solid;
  border-top-width: 0px;
}

/* line 1019, ../sass/_custom.scss */
td._idGenCellOverride-15 {
  border-top-color: #9baaac;
  border-top-style: solid;
  border-top-width: 1px;
}

/* line 1024, ../sass/_custom.scss */
p.ParaOverride-13 {
  text-align: right;
}

/* line 1027, ../sass/_custom.scss */
p.ParaOverride-15 {
  text-align: right;
}

/* line 1030, ../sass/_custom.scss */
.header-look {
  background: #57585B;
}

/* line 1033, ../sass/_custom.scss */
span.acyn {
  width: 160px;
  display: inline-block;
}

/* line 1037, ../sass/_custom.scss */
p.Index_--Index-Sub-1 {
  text-indent: 15px;
}

/* line 1040, ../sass/_custom.scss */
.page-part-3-management-and-accountability-corporate-governance h3._-Level-4-Heading {
  font-style: italic;
}

/* line 1043, ../sass/_custom.scss */
.page-part-3-management-and-accountability-management-human-resources h3._-Level-4-Heading {
  font-style: italic;
}

/* line 1046, ../sass/_custom.scss */
.page-part-3-management-and-accountability-management-human-resources h4._-Level-5-Heading {
  font-style: italic;
  font-weight: normal;
}

/* line 1050, ../sass/_custom.scss */
.extra-space {
  margin-left: 1em;
}

._-Cell---Regular-Result {
	width: 138px;
}

.criterion-met {
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #C6C8CA;
  margin: 0.25rem;
  text-align: center;
}

table {
  margin-top: 1rem;
}

.no-wrap {
  white-space: nowrap;
}