/* line 4, ../sass/components/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/components/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}
